body {
    background-color: #261249;
    background-color: #6B65AE;
    background-color: #4C5BA8;
    background-color: #4654A3;
    background-color: #E5E7E5;
    background-color: #E6EBF6;
    background-color: #E8E9E9;
    background-color: #F15B40;
    background-color: #222323;
    background-color: #161616;
}